@model ToDoListWebApp.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Title"];
    Layout = "_Layout";
}

<p>@Localizer["Firstname"]: @Model.Firstname</p>
<p>@Localizer["Lastname"]: @Model.Lastname</p>
<p>@Localizer["Email"]: @Model.Email</p>

<a asp-action="ChangePassword" class="btn btn-outline-primary">@Localizer["ChangePassword"]</a>
<a asp-action="GetProfileData" class="btn btn-outline-info">@Localizer["GetProfileData"]</a>